{% block header %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content">


                <div class="logo_menu">
                    <a href="/">
                    <img src="{{ asset('images/mini_logo_phone_champions_x.png') }}" alt="Phone Champions">
                    </a>
                </div>
                <nav>
                    <ul class="menu">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Comparar</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">LogIn</a></li>
                    </ul>
                </nav>
                <div class="user_icon">
                    <img src="{{ asset("images/user_logo.png") }}" alt="LogIn">
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}