{% extends 'bundles/FrontEndBundle/base.html.twig' %}

{% block body %}
    <h1>Welcome to Phone Champions</h1>
    <img src="{{ asset("images/logo_phone_champions.png") }}" alt="Welcome to Phone Champions">
{% endblock %}