{% extends 'bundles/PhoneChampionBundle/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="compara_info">
                    <h1>Aquí puedes comparar los dispositivos que quieras {{ test }}</h1>
                    <h5>buscalos por la marca, si no encuentras el dispositivo que quieres, puedes usar el buscador y encontrarlo por el nombre, dando click en la lupa</h5>
                    <div class="ring">
                        <div class="item_device">
                            <div class="brand_dv">
                                <p>Marca:</p>
                                <select name="" class="select_brand">
                                    <option value="">Seleccionar</option>
                                    <option value="Samsung">Samsung</option>
                                    <option value="Apple">Apple</option>
                                    <option value="Xiaomi">Xiaomi</option>
                                    <option value="Huawei">Huawei</option>
                                    <option value="Lenovo">Lenovo</option>
                                    <option value="LG">LG</option>
                                    <option value="Sony">Sony</option>
                                    <option value="Nokia">Nokia</option>
                                    <option value="Microsoft">Microsoft</option>
                                    <option value="Motorola">Motorola</option>
                                    <option value="HTC">HTC</option>
                                    <option value="BlackBerry">BlackBerry</option>
                                    <option value="Asus">Asus</option>
                                    <option value="ZTE">ZTE</option>
                                    <option value="Meizu">Meizu</option>
                                    <option value="Lanix">Lanix</option>
                                    <option value="Oppo">Oppo</option>
                                </select>
                            </div>
                            <div class="model_dv">
                                <p>Modelo:</p>
                                <select name="" class="select_brand">
                                    <option value="">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="item_device">
                            <div class="brand_dv">
                                <p>Marca:</p>
                                <select name="" class="select_brand">
                                    <option value="">Seleccionar</option>
                                    <option value="Samsung">Samsung</option>
                                    <option value="Apple">Apple</option>
                                    <option value="Xiaomi">Xiaomi</option>
                                    <option value="Huawei">Huawei</option>
                                    <option value="Lenovo">Lenovo</option>
                                    <option value="LG">LG</option>
                                    <option value="Sony">Sony</option>
                                    <option value="Nokia">Nokia</option>
                                    <option value="Microsoft">Microsoft</option>
                                    <option value="Motorola">Motorola</option>
                                    <option value="HTC">HTC</option>
                                    <option value="BlackBerry">BlackBerry</option>
                                    <option value="Asus">Asus</option>
                                    <option value="ZTE">ZTE</option>
                                    <option value="Meizu">Meizu</option>
                                    <option value="Lanix">Lanix</option>
                                    <option value="Oppo">Oppo</option>
                                </select>
                            </div>
                            <div class="model_dv">
                                <p>Modelo:</p>
                                <select name="" class="select_brand">
                                    <option value="">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="item_device">
                            <div class="brand_dv">
                                <p>Marca:</p>
                                <select name="" class="select_brand">
                                    <option value="">Seleccionar</option>
                                    <option value="Samsung">Samsung</option>
                                    <option value="Apple">Apple</option>
                                    <option value="Xiaomi">Xiaomi</option>
                                    <option value="Huawei">Huawei</option>
                                    <option value="Lenovo">Lenovo</option>
                                    <option value="LG">LG</option>
                                    <option value="Sony">Sony</option>
                                    <option value="Nokia">Nokia</option>
                                    <option value="Microsoft">Microsoft</option>
                                    <option value="Motorola">Motorola</option>
                                    <option value="HTC">HTC</option>
                                    <option value="BlackBerry">BlackBerry</option>
                                    <option value="Asus">Asus</option>
                                    <option value="ZTE">ZTE</option>
                                    <option value="Meizu">Meizu</option>
                                    <option value="Lanix">Lanix</option>
                                    <option value="Oppo">Oppo</option>
                                </select>
                            </div>
                            <div class="model_dv">
                                <p>Modelo:</p>
                                <select name="" class="select_brand">
                                    <option value="">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}